<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
</head>



<div class="album">
    <h2>{{ album.title }}</h2>
    <p>Fecha de lanzamiento: {{ album.release_date }}</p>
    <p>Distribuidor: {{ album.record_company }}</p>
    <a class="btn btn-primary" href="{% url 'album_edit' pk=album.pk %}">Editar</a>
    <a class="btn btn-danger" href="{% url 'album_delete' pk=album.pk %}">Borrar</a>
</div>