{% extends "base_user.html" %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block body %}

<body style="text-align: center;">
    <div class="card text-center">
        <div class="card-header">
            Tu perfil
        </div>
        <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">{{ request.session.email }}</p>
            <h5 class="card-title">Usuario</h5>
            <p class="card-text">{{ request.session.username }}</p>
            <h5 class="card-title">Nombre</h5>
            <p class="card-text">{{ request.session.name }}</p>
            <form action="{% url 'edit' %}" method="get">
                <input type="submit" value="Editar" class="btn btn-primary">
            </form>
        </div>
    </div>
</body>
{% endblock %}