{% extends "base.html" %}
{% load static %}
{% block title %}Músicos{% endblock %}
{% block content %}

    <div style="text-align: center;">
        <div class="card" style="text-align: center;">
            <ul class="list-group list-group-flush">
                {% for musician in musicians %}
                <li class="list-group-item"><a href="{% url 'musician_detail' pk=musician.pk %}">{{ musician.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <a class="btn btn-secondary" href="{% url 'musician_new'%}">Añadir músico</a>
    </div>

{% endblock %}
