{% extends "base.html" %}
{% load static %}
{% block title %}{{ musicalgroup.name }}{% endblock %}
{% block content %}

<div class="musicalgroup" style="text-align: center;">
    <br>
    <h2>{{ musicalgroup.name }}</h2>
    <p>Fecha de creación: {{ musicalgroup.created_date }}</p>
    <p>Género: {{ musicalgroup.style }}</p>
    <h3>Músicos</h3>
    {%for musician in musicians %}
    <p>{{musician.name}}</p>
    {%endfor%}
    <h3>Discografía</h3>
    <p>{{musicalgroup.albums}}</p>
    
    <a class="btn btn-primary" href="{% url 'musicalgroup_edit' pk=musicalgroup.pk %}">Editar</a>
    <a class="btn btn-danger" href="{% url 'musicalgroup_delete' pk=musicalgroup.pk %}">Borrar</a>
</div>

{% endblock %}